name: CI pipline

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main]

jobs:
  build:
    runs-on: macos-latest
    steps: 
        - name: Checkout the code
          uses: actions/checkout@v3

        - name: Setup Node.js
          uses: actions/setup-node@v3
          with:
            node-version: "16"

        - name: Install dependencies
          run: npm install

        - name: Run Tests
          run: npm test